@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');


body {
    background: #222;
}
.app {
    font-family: "Open Sans", sans-serif;
}

.new-player {
    display: inline-block;
    background: #0082d5;
    color: #FFFFFF;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    clear: both;
    position: fixed;
    bottom: -50px;
    left: 0;
    transition: bottom .4s
}

.plus-button {
    position: absolute;
    bottom: 100%;
    padding: 5px 10px 5px 30px;
    border-radius: 5px 5px 0 0;
    font-size: 15px;
    background: #0082d5;
}

.new-player .plus-button {
    right: 20px
}

.plus-button i {
    font-size: 18px;
    position: absolute;
    left: 3px;
}

.new-player:hover{
    z-index: 100;
    bottom: 0px;
}

.new-player-name-field {
    width: 100%;
    box-sizing: border-box;
    line-height: 25px;
    font-size: 14px;
    text-align: center;
}

.player {
    display: inline-block;
    width: 19%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
}

.player:last-child {
    margin-right: 0;
}

.player-info {
    /*height: 250px;
    border: 3px solid #482904;
    width: 180px;*/
    background: #0082d5;
    display: block;
    color: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.player-info select{
    position: absolute;
    right: 0px;
    top: 3px;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-appearance: none;
    height: 30px;
    width: 30px;
    font-size: 19px;
    border: none;
    background: transparent;
    padding-left: 4px;
}
.player-info select:focus{
    outline: none;
}
.player-info .name {
    font-size: 24px;
    float: left;
    padding: 0 10px;
    margin-top: 26px;
    font-weight: 300;
    display: inline-block;
    width: 75%;
    background: transparent;
    border: none;
    color: #fff;
    box-sizing: border-box;
}

.player-info .level {
    font-size: 32px;
    text-align: center;
    display: inline-block;
    float: left;
    padding: 10px;
    width: 25%;
    height: 60px;
    background: rgba(0, 0, 0, 0.2);
    font-weight: 600;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.player-info .level:before {
    content: 'Level';
    font-size: 11px;
    font-weight: 300;
    display: block;
    z-index: 10;
}

.player-info .icon-crown {
    position: absolute;
    left: calc(50% - 41px);
    font-size: 60px;
    top: 10px;
    color: yellow;
    z-index: -1;
    opacity: 0.6;
}

.player-info .bar {
    display: block;
    clear: both;
    background: rgba(0, 0, 0, 0.15);
    line-height: 30px;
    overflow: hidden;
}

.player-info .gear {
    display: inline-block;
    float: left;
    width: 25%;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
}

.player-info .gear:before {
    content: 'Gear';
    font-size: 11px;
    margin-right: 5px;
    font-weight: 300;
}

.player-info .power {
    font-size: 20px;
    display: inline-block;
    float: right;
    text-align: center;
    padding-right: 10px;
}

.player-info .power:before {
    content: 'Power';
    font-size: 14px;
    margin-right: 5px;
    font-weight: 300;
}

.player-info .favorite {
    position: absolute;
    right: 30px;
    top: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

.player-attributes {
    padding: 20px;
}

.player-attributes .attributes:first-child {
    margin-top: 0;
}

.player-attributes .attributes.gear,
.player-attributes .attributes.level {
    border: 1px solid transparent;
}

.player-attributes .attributes {
    width: 100%;
    position: relative;
    margin-top: 15px;
}

.player-attributes .button {
    background: #0082d5;
    border: none;
    width: 40px;
    height: 40px;
    line-height: 32px;
    color: #FFFFFF;
    display: inline-block;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.player-attributes .button[disabled] {
    opacity: 0.3;
}

.player-attributes .decrease {
    left: 0;
}

.player-attributes .increase {
    right: 0;
}

.player-attributes .button:before {
    font-size: 30px;
    font-weight: 800;
}

.player-attributes .decrease:before {
    content: '-';
}

.player-attributes .increase:before {
    content: '+';
}

.player-attributes .value {
    line-height: 40px;
    font-size: 20px;
    display: block;
    text-align: center;
    color: #555555;
    background: rgba(255,255,255,0.9);
}

.component-button.delete {
    background: #eee;
    height: auto;
    width: auto;
    padding: 0 10px 0 0;
    color: #111111;
    position: static;
    border: none;
    margin-top: 15px;
}

.component-button.delete:before {
    content: 'X';
    font-size: 16px;
    font-weight: 300;
    background: #FF0000;
    color: #FFFFFF;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    padding: 0;
}

.component-button.sync {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100px;
    padding: 5px;
    display: block;
    color: #000;
    border: 1px solid #888;
    cursor: pointer;
}

.component-button.sync:hover {
    font-weight: bold;
}

.ranking {
    display: inline-block;
    width: 100%;
    clear: both;
    position: fixed;
    top: 100%;
    left: 0;
    background: #eee;
    transition: top .4s, bottom .4s
}

.ranking .plus-button {
    right: 150px;
    background: #eee;
}

.ranking .plus-button i {
    font-size: 14px;
    position: absolute;
    left: 5px;
}

.ranking:hover {
    z-index: 100;
    top: 30%;
    height: 100%;
}

.ranking .title {
    font-size: 16px;
    display: block;
    text-align: center;
    font-weight: 600;
    line-height: 40px;
}

.ranking .button {
    width: 45%;
    border: none;
    background: #0082d5;
    color: #FFFFFF;
    line-height: 30px;
    font-size: 14px;
    opacity: 0.5;
    font-weight: 300;
    border: 2px solid transparent;
    cursor: pointer;
}

.ranking .button.by-level {
    float: left;
}

.ranking .button.by-power {
    float: right;
}

.ranking .button.active {
    cursor: default;
    opacity: 1;
    font-weight: bold;
    border-color: rgba(0, 0, 0, 0.5);
}

.ranking .list {
    clear: both;
}

.ranking .player {
    font-size: 16px;
    display: block;
    line-height: 26px;
    color: #FFFFFF;
    width: 100%;
}

.ranking .player .level,
.ranking .player .power,
.ranking .player .name {
    display: inline-block;
    text-align: center;
}

.ranking .player .level,
.ranking .player .power {
    width: 20%;
    font-weight: bold;
}

.ranking .player .name {
    width: 60%;
}

.content {
    display: block;
    padding-top: 1%;
    padding-left: 1%;
}

.sidebar {
    width: 15%;
    display: block;
    float: left;
}

@media only screen and (max-width: 1300px) {
    .player {
        width: 24%;
    }
}

@media only screen and (max-width: 999px) {
    .content{
        width: 100%;
        clear: both;
    }
    .player {
        width: 32%;
    }

}

@media only screen and (max-width: 750px) {
    .player {
        width: 49%;
    }
}

@media only screen and (max-width: 480px) {
    .player {
        width: 100%;
        padding: 0;
        float: none;
    }

    .new-player {
        width: 100%;
    }
    .plus-button{
        height: 25px;
        padding-left: 20px;
    }
    .plus-button span{
        display: none;
    }
    .ranking .plus-button {
        right: 60px;
    }
    .component-button.sync {
        width: 30px;
        color: #333;
        background: transparent;
        border: none;
    }
    .component-button.sync span{
        display: none
    }
}
