@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

.app {
    font-family: "Open Sans", sans-serif;
}

.new-player {
    display: inline-block;
    background: #0082d5;
    color: #FFFFFF;
    padding: 10px;
    width: 19%;
}

.new-player-title {
    font-size: 14px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    width: 100%;
}

.new-player-name-field {
    width: 100%;
    box-sizing: border-box;
}

.player {
    display: inline-block;
    width: 19%;
    margin-right: 1%;
}

.player:last-child {
    margin-right: 0;
}

.player-info {
    background: #0082d5;
    display: block;
    color: #FFFFFF;
    overflow: hidden;
}

.player-info .name {
    font-size: 24px;
    float: left;
    padding: 0 10px;
    margin-top: 26px;
    font-weight: 300;
    display: inline-block;
    width: 75%;
    background: transparent;
    border: none;
    color: #fff;
    box-sizing: border-box;
}

.player-info .level {
    font-size: 32px;
    text-align: center;
    display: inline-block;
    float: left;
    padding: 10px;
    width: 25%;
    height: 60px;
    background: rgba(0, 0, 0, 0.2);
    font-weight: 600;
    cursor: pointer;
}

.player-info .level:before {
    content: 'Level';
    font-size: 11px;
    font-weight: 300;
    display: block;
}

.player-info .bar {
    display: block;
    clear: both;
    background: rgba(0, 0, 0, 0.15);
    line-height: 30px;
    overflow: hidden;
    cursor: pointer;
}

.player-info .gear {
    display: inline-block;
    float: left;
    width: 25%;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.player-info .gear:before {
    content: 'Gear';
    font-size: 11px;
    margin-right: 5px;
    font-weight: 300;
}

.player-info .power {
    font-size: 20px;
    display: inline-block;
    float: right;
    text-align: center;
    padding-right: 10px;
}

.player-info .power:before {
    content: 'Power';
    font-size: 14px;
    margin-right: 5px;
    font-weight: 300;
}

.player-attributes {
    padding: 20px;
}

.player-attributes .attributes:first-child {
    margin-top: 0;
}

.player-attributes .attributes {
    width: 100%;
    position: relative;
    margin-top: 15px;
    border: 1px solid #0082d5;
}

.player-attributes .button {
    background: #0082d5;
    border: none;
    width: 40px;
    height: 40px;
    line-height: 32px;
    color: #FFFFFF;
    display: inline-block;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.player-attributes .button[disabled] {
    opacity: 0.3;
}

.player-attributes .decrease {
    left: 0;
}

.player-attributes .increase {
    right: 0;
}

.player-attributes .button:before {
    font-size: 30px;
    font-weight: 800;
}

.player-attributes .decrease:before {
    content: '-';
}

.player-attributes .increase:before {
    content: '+';
}

.player-attributes .value {
    line-height: 40px;
    font-size: 20px;
    display: block;
    text-align: center;
    color: #555555;
}

.ranking {
    display: block;
    width: 100%;
    clear: both;
}

.ranking .title {
    font-size: 16px;
    display: block;
    text-align: center;
    font-weight: 600;
    background: #eee;
    line-height: 40px;
}

.ranking .button {
    width: 50%;
    border: none;
    background: #0082d5;
    color: #FFFFFF;
    line-height: 25px;
    font-size: 14px;
    opacity: 0.5;
    font-weight: 300;
    border: 2px solid transparent;
    cursor: pointer;
}

.ranking .button.active {
    cursor: default;
    opacity: 1;
    font-weight: bold;
    border-color: rgba(0, 0, 0, 0.5);
}

.ranking .player {
    font-size: 16px;
    display: block;
    line-height: 26px;
    color: #FFFFFF;
    width: 100%;
}

.ranking .player .level,
.ranking .player .power,
.ranking .player .name {
    display: inline-block;
    text-align: center;
}

.ranking .player .level,
.ranking .player .power {
    width: 20%;
    font-weight: bold;
}

.ranking .player .name {
    width: 60%;
}

.content {
    width: 85%;
    float: right;
    display: block;
    padding-left: 1%;
}

.sidebar {
    width: 15%;
    display: block;
    float: left;
}

@media only screen and (max-device-width: 480px) {
    .content,
    .sidebar,
    .player {
        width: 100%;
        padding: 0;
    }

    .ranking {
        margin-bottom: 30px;
    }
}
